################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/node_modules
/.vs/WebAPI-ReactJS-Jest-BoilerPlate
/obj
/bin
/Client/package-lock.json
/wwwroot
